.dropdown-menu

    &__popup-item
        color: #fff
        display: block
        padding: 5px 10px

        &.link
            text-decoration: none

        &:hover
            background: green

        &_state

            &_active
                background: red

                &:not(.dropdown):hover
                    background: red

            &_active-child
                background: darkred
