.modal_theme_islands

    &.modal_visible
        background: rgba(0, 0, 0, .5)

    .modal__content
        border: 0
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 10px 20px -5px rgba(0, 0, 0, .4)
