.menu-vertical
{
    display: block;
    padding: 0;
    margin: 0;

    list-style-type: none;
}

.menu-vertical ul,
.menu-vertical li
{
    display: block;
    padding: 0;
    margin: 0;
}

.menu-vertical ul
{
    list-style-type: none;
}